@use "variables" as v;

.container {
  display: flex;
  flex-direction: column;
}

.button-with-one-start-icon {
  font-size: 2rem;
  padding: 6px 16px 6px 24px !important;

  .icon {
    margin-inline-end: 1.3rem;
  }
}

.icon {
  margin-inline-end: 1.3rem;
}

.upload-profile-picture {
  font-size: 2rem !important;
  padding: 6px 16px 6px 24px !important;
  color: white !important;
  text-align: center !important;
  display: flex !important;
  flex-direction: row !important;

  .icon {
    margin-inline-end: 1.3rem;
  }
}

.karantina {
  font-family: "Karantina", cursive;
  font-weight: 700;
  letter-spacing: 3px;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}
.suez-one {
  font-family: "Suez One", serif;
  font-weight: 400;
}
.david-libre {
  font-family: "David Libre", serif;
  font-weight: 700;
}
.lilita-one {
  font-family: 'Lilita One', sans-serif;
  letter-spacing: 1px;
}
.gabarito {
  font-family: 'Gabarito', sans-serif;
  font-weight: 800;
}


.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}