@use "variables" as v;

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  background-color: rgba(var(--background), 1);

  .editPanel {
    border-inline-end: 1px solid rgb(218, 220, 224);
    min-height: 82vh;
    min-width: 30rem;
    padding: 2rem;
    box-sizing: border-box;

    .fieldContainer {
      padding-block-end: 1.8rem;

      label {
        display: block;
        padding-block-end: 0.5rem;
        font-size: 1.8rem;
        color: rgb(95, 95, 95);
      }

      .label {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-block-end: 0.5rem;
        font-size: 1.8rem;
        color: rgb(95, 95, 95);
      }

      .terms {
        font-size: 1.3rem;
        margin: 0;

        a {
          cursor: pointer;
        }
      }

      .iconButton {
        font-size: 2rem;

        .icon {
          margin-inline-end: 1.3rem;
        }
      }
    }
  }
}
