@use "variables" as v;

.desktopOnlyBanner {
  display: none;

  @media screen and (max-width: v.$breakpoint-940) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(255, 255, 0, 0.2);
    color: rgba(var(--button-bg), 1);
    font-size: 1.8rem;
  }

  .iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .monitorIcon {
      font-size: 1.8rem;
      padding: 0;
      margin: 0;
      margin-inline-start: 1rem;
    }
  }
}

.navHeader {
  display: flex;
  flex-direction: column;
  z-index: 10;
  height: 100%;

  @media screen and (max-width: v.$breakpoint-650) {
    height: 8vh;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 3rem;
    background-color: rgb(32 32 32);

    @media screen and (max-width: v.$breakpoint-650) {
      padding: 2rem 2rem;
    }

    .back {
      cursor: pointer;
      text-decoration: none;
      color: rgb(192, 192, 192);
      font-size: 2.5rem;
      margin: 0;
      padding: 0;
      line-height: 2.5rem;
    }

    .title {
      color: rgba(var(--button-bg), 1);
      font-size: 2rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
      margin-inline-start: 1.4rem;
      color: rgb(221, 221, 221);
    }
  }
}

.titleHeader {
  display: flex;
  flex-direction: column;
  z-index: 10;

  .titleBanner {
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;
    background-color: rgba(var(--color-primary), 1);
    font-size: 1rem;

    @media screen and (max-width: v.$breakpoint-650) {
      height: 50vh;
      font-size: 0.6rem;
    }

    @media screen and (max-width: v.$breakpoint-400) {
      font-size: 0.55rem;
    }

    @media screen and (max-width: 350px) {
      font-size: 0.5rem;
    }

    .titleContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 0.4rem;

      .h1 {
        color: rgba(var(--button-bg), 1);
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
        font-weight: 800;
        font-size: 5em;
        padding: 0.7rem 2.5rem;

        background-color: rgba(var(--color-secondary), 1);
        border-radius: 2px;
        margin: 0.5rem;

        opacity: 0;
        transform: skew(6deg) translateX(6%);
        animation: slideIn 0.5s forwards;
      }

      .slogan {
        font-size: 2.8em;
        color: #dcdcdc;
        width: 100%;
        text-align: center;
      }
    }
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: skew(6deg) translateX(0);
  }
}
